.product-list-container {
  margin: 3rem 0;
  .product-list-title {
    margin-top: 5rem;
    text-align: center;
  }

  .product-list {
    div {
      margin: 1rem;
      cursor: pointer;
    }
  }

}

@media