.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  url('../../assets/mkbhd.jpg') center/cover no-repeat;
}

.hero-title {
  text-align: center; 
  font-size: 2rem;
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 900px;}
}

@media(min-width: 1024px) {
  .hero-image {
    font-size:2.5rem;
  }
}

.shop-now-btn {
  text-align: center;
}